body{
    margin: 0;
    
}
header{
    margin:0;
}
nav ul{
    background-color:#111;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
}
nav ul li{
    float:left;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 17px;
    font-family: Audiowide, sans-serif;
}
nav ul li a:hover:not(.font-effect-fire,.font-effect-neon,.toggleicon){
    background-color: #333;
    color: white;
}
.toggleicon:hover{
  cursor: pointer;
  background-color: #555;
}
.grid-container{
    display: inline-grid;
    margin-top: 42px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.932);
    grid-template-columns: auto 70vw auto;
    column-gap: 1vw;
    row-gap: 20px;
}
.grid-item {
  margin:0;
    border: 1px solid black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
  }
  #homepic {
    height: 70vh;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    padding: 20px;
  }
  .val{
    background-image: url("val.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .lol{
    background-image: url("lol.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .genshin{
    background-image: url("genshin.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
 .skipbtn{
    position:relative;
    top: 50%;
    border-radius: 50%;
    color: #111;
    background-color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
 }
 .skipbtn:hover{
    background-color: rgba(255, 255, 255, 0.89);
    cursor: pointer;
 }
 #icon{
    height: 17px;
 }
 .invert{
    -webkit-filter: invert(1);
    filter: invert(1);
}