body{
    margin: 0;
    
}
header{
    margin:0;
}
nav div a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 17px;
    font-family: Audiowide, sans-serif;
    
}
nav {
  position: relative;
  background-color: #666;
  overflow: hidden;
}
nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
  font-family: Audiowide, sans-serif;
}

.centered-nav{
    float:none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.right-nav{
    float:right;
}
nav div a:hover:not(.font-effect-fire,.font-effect-neon,.toggleicon){
    background-color: #333;
    color: white;
}
nav a:hover:not(.font-effect-fire){
  background-color: #333;
  color: white;
}
.toggleicon:hover{
  cursor: pointer;
  background-color: #555;
}
 #icon{
  height: 17px;
 }
 main{
  display:flex;
  justify-content: center;
 }
 fieldset{
  text-align: center;
  width: 100%;
  border: #333 solid 1px;
  border-radius: 5px;
 }