body {
  margin: 0;
}
header {
  top: 0;
  width: 100%;
  background-color: floralwhite;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0;
}
nav ul li,
header a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  list-style: none;
  font-size: 17px;
  font-family: Audiowide, sans-serif;
}
nav ul {
  margin: 0;
  padding-left: 0;
}
nav a:hover,nav a:active,
.home:hover,
.toggleicon:hover {
  text-decoration: solid;
  transform: scale(1.3);
  cursor: pointer;
}
#icon {
  height: 25px;
  padding-right: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightcyan;
  margin-top: 62px;
}
fieldset {
  text-align: center;
  width: 100%;
  border: #333 solid 1px;
  border-radius: 5px;
}
.main_kep {
  display: flex;
  width: 100%;
  height: 40vw;
  background-image: url("nyaralas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items:flex-start;
}
.main_kep p {
  color:darkgreen;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 30vh;
  text-transform: uppercase;
  text-shadow: #333;
}
.ajanlatok label, main label {
  margin-right: 50vw;
  font-size: 3em;
  margin-top: 62px;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 3vh;
}
main section article {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5%;
}
.hir h2 {
  font-size: 1.7rem;
}
.hir p {
  margin: 0;
  font-size: 1.3rem;
}
.hir img {
  width: 90%;
  align-self: center;
  grid-row: 1 / 3;
}
video {
  margin: 5%;
  width: 100%;
}
footer {
  background-color: floralwhite;
  font-family: Audiowide, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer li {
  padding: 10px;
}
footer img{
  width: 15vw;
}
.kategoriak {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}
.kategoriak div {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
}
.kategoriak p{
  visibility:hidden;
  background-color: rgba(0, 0, 0, 0.55);
  color: aliceblue;
  font-size: 1rem;
}
.kategoriak div:hover .child{
  visibility: visible;
  cursor: pointer;
}
.kategoriak h2{
  color: aliceblue;
}
.kategoriak a{
  text-decoration: none;
}
.ajanlatok img{
  width: 90%;
  align-self: center;
  grid-row: 1 / 3;
}
.ajanlatok h2 {
  font-size: 1.7rem;
}
.ajanlatok p {
  margin: 0;
  font-size: 1.3rem;
}
.reszletek{
  grid-column: 1 / 3;
  text-decoration: none;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.reszletek a{
  border: 1px solid black;
  text-align: center;
  align-items: center;
  border-radius: 0.2rem;
  text-decoration: none;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color:gold ;
  line-height: 2rem;
}
.top_scroll{
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 155px;
}
.top_scroll img{
  width: 30%;
}
form label{
margin: auto;
font-size: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 10px;
  width: 30vw;
}
form fieldset{
  background-color:skyblue;
}
#felnott, #gyerek{
  width: 10%;
}
#ad{
  font-size: 0.8em;
}
.form_arak{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:flex-start;
  width: 100%;
}
.arak table, th, tr, td{
  margin: 1rem;
  background-color:skyblue;
  width: 90%;
  font-size: 2rem;
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.repuloar{
  display: none;
}
