body{
  margin: 0;
}
header{
  margin:0;
  width: 100%;
  background-color:floralwhite;
  display:flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0;
}
nav ul li,header a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  list-style: none;
  font-size: 17px;
  font-family: Audiowide, sans-serif;
}
nav ul{
  margin: 0;
  padding-left: 0;
}
nav ul li a{
  text-decoration: none;
  color: rgba(0,0,0,1);
}

nav ul li a:hover,.home:hover,.toggleicon:hover{
  transform: scale(1.3);
  cursor: pointer;
}
 #icon{
  height: 25px;
  padding-right: 20px;
 }
 main{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:lightcyan;
 }
 fieldset{
  text-align: center;
  width: 100%;
  border: #333 solid 1px;
  border-radius: 5px;
 }
 .main_kep{
  display: flex;
  width: 100%;
  height: 40vw;
  background-image: url("nyaralas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: end;
 }
 .main_kep p {
  background-color: rgba(0,0,0,0.85);
  color:aliceblue;
  font-size: 5rem;
  align-self: center;
  margin-top:15%;
  margin-right: 10%;
 }
 main label{
  margin-right: 50vw;
  font-size: 3em;
 }
 main section{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 60%;
  margin: 3vh;
 }
 main section article{
  display: grid;
  grid-template-columns: auto auto;
  margin: 5%;
 }
 article h2{
  font-size: 1.7rem;
 }
 article p{
  margin: 0;
  font-size: 1.3rem;
 }
 .hir img{
  width: 90%;
  align-self:center ;
  grid-row: 1 / 3;
 }
 video{
  margin: 5%;
  width: 100%;
 }
 footer{
  background-color:floralwhite;
  font-family: Audiowide, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }
 footer ul{
  list-style-type: none;
 }
 footer li{
  padding: 10px;
 }