body{
    margin: 0;
}
nav ul{
    background-color:#333;
    width: 100%;
    list-style-type: none;
    color: azure;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
}
nav ul li{
    float:left;
    
}
nav ul li a{
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 17px;
    font-family: Audiowide, sans-serif;
}
nav ul li a:hover:not(.font-effect-fire){
    background-color: #111;
}
.active{
    background-color:cadetblue;
}